/**
Name: Metodik
Version: 0.0.1
Description: Metodik est un framework css
Licence: GNU GPL
*/

/**
Fichier d'initialisation contenant les propriétés globales
du projet
*/

/************************************************************
                Commandes
************************************************************/
// COMPILATION DU THEME
// sass --watch metodik/export.scss:metodik.css

/************************************************************
            Variables de configuration du projet
************************************************************/

$mk-laptop-breakpoint: 1024px;
$mk-mobile-breakpoint: 768px;

/**************************
        Theme color
**************************/
$mk-bg-color-primary: #c9defc;
$mk-bg-color-primary--light: #f0f3f9;
$mk-bg-color-primary--dark: #4f6e9a;

$mk-bg-color-secondary: #c9defc;
$mk-bg-color-secondary--light: #f0f3f9;
$mk-bg-color-secondary--dark: #4f6e9a;

$mk-font-color-primary: grey;
$mk-font-color-primary--light: white;
$mk-font-color-primary--dark: black;

/**************************
        Section
**************************/
$mk-section-margin: 0;
$mk-section-padding: 2% 5%;

/**************************
        Block
**************************/
// block
// Marge horizontales de block
$mk-block-font-family: Arial, Helvetica, sans-serif;
$mk-block-margin: 1%;
$mk-block-padding: 1%;
$mk-block-gap: 1rem 1rem;

// block__text
$mk-block__text-font-family: Arial, Helvetica, sans-serif;
$mk-block__text-margin: 0 0;
$mk-block__text-padding: 0 0;

// block__title
$mk-block__title-font-family: Arial, Helvetica, sans-serif;
$mk-block__title-margin: 0.2rem;
$mk-block__title-padding: 0;
$mk-block__title-font-family: "Bookman Old Style", serif;

// block__title
$mk-block__subtitle-font-family: Arial, Helvetica, sans-serif;
$mk-block__subtitle-margin: 0.2rem;
$mk-block__subtitle-padding: 0;
$mk-block__subtitle-font-family: "Bookman Old Style", serif;

// block__img
$mk-block__img-margin: 0;
$mk-block__img-padding: 0;
$mk-block__self-flex-position: "";
