/**
Name: Metodik
Version: 0.0.1
Description: Metodik est un framework css
Licence: GNU GPL
*/

/**
Fichier d'initialisation contenant les propriétés globales
du projet
*/

/************************************************************
                Commandes
************************************************************/
// COMPILATION DU THEME
// sass --watch metodik/export.scss:metodik.css

/************************************************************
            Variables de configuration du projet
************************************************************/

$mk-laptop-breakpoint: 1024px;
$mk-mobile-breakpoint: 768px;

#root {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 0.2fr 2.4fr auto;
  grid-template-areas:
    "nav nav nav nav"
    "header header header header"
    "sidebar main main main"
    "footer footer footer footer";
  grid-gap: 0;
}

@media only screen and (max-width: $mk-mobile-breakpoint) {
  #sidebar {
    display: none;
  }
  #root {
    grid-template-columns: 1fr;
    grid-template-rows: 3rem 3rem 1fr 8rem;
    grid-template-areas:
      "header"
      "nav"
      "main"
      "footer";
  }
}

nav {
  background: #a7ffeb;
  grid-area: nav;
}

header {
  background: #a7ffeb;
  grid-area: header;
}

main {
  background: #84ffff;
  grid-area: main;
}

#sidebar {
  background: #18ffff;
  grid-area: sidebar;
}

footer {
  background: #1de9b6;
  grid-area: footer;
}

/**************************
        Theme color
**************************/
$mk-bg-color-primary: #c9defc;
$mk-bg-color-primary--light: #f0f3f9;
$mk-bg-color-primary--dark: #4f6e9a;

$mk-bg-color-secondary: #c9defc;
$mk-bg-color-secondary--light: #f0f3f9;
$mk-bg-color-secondary--dark: #4f6e9a;

$mk-font-color-primary: grey;
$mk-font-color-primary--light: white;
$mk-font-color-primary--dark: black;

/**************************
        Layouts
**************************/

/**************************
    Blocks configuration
**************************/
$mk-blocks-flex-direction: column;

/**************************
        Header
**************************/
$mk-header-margin: 0;
$mk-header-padding: 2% 5%;

/**************************
        Section
**************************/
$mk-section-margin: 0;
$mk-section-padding: 2% 5%;

/**************************
        Article
**************************/

$mk-article-margin: 0;
$mk-article-padding: 2% 5%;

/**************************
        box
**************************/
// box
// Marge horizontales de box
$mk-box-font-family: Arial, Helvetica, sans-serif;
$mk-box-margin: 1%;
$mk-box-padding: 1%;
$mk-box-gap: 1rem 1rem;

// box__text
$mk-box__text-font-family: Arial, Helvetica, sans-serif;
$mk-box__text-margin: 0 0;
$mk-box__text-padding: 0 0;

// box__title
$mk-box__title-font-family: Arial, Helvetica, sans-serif;
$mk-box__title-margin: 0.2rem;
$mk-box__title-padding: 0;
$mk-box__title-font-family: "Bookman Old Style", serif;
//$mk-box__title-flex: left;

// box__subtitle
$mk-box__subtitle-font-family: Arial, Helvetica, sans-serif;
$mk-box__subtitle-margin: 0.2rem;
$mk-box__subtitle-padding: 0;
$mk-box__subtitle-font-family: "Bookman Old Style", serif;

// box__img
$mk-box__img-margin: 0;
$mk-box__img-padding: 0;
$mk-box__self-flex-position: "";
$mk-box__img-border-radius: 6px;

// box__thumbnail
$mk-box__thumbnail-margin: 0;
$mk-box__thumbnail-padding: 0;
$mk-box__self-flex-position: "";
$mk-box__thumbnail-border-radius: 6px;
$mk-box__thumbnail-hover-color: black;
$mk-box__thumbnail-opacity-color: 0.6;
