html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  padding: 0;
  margin: 0;
}

@import "theme";
@import "mixins/general";
@import "mixins/section";
@import "blocks/section";
@import "blocks/article";
@import "blocks/box";
@import "blocks/grid";
@import "modificators/colors";
@import "modificators/layouts";
@import "components/card";
@import "components/navbar";
