$mk-box__img-sizes: (
  "smaller": 256px,
  "small": 426px,
  "medium": 640px,
  "large": 768px,
  "larger": 800px,
  "x-larger": 848px,
  "xx-larger": 896px,
  "xxx-larger": 960px,
  "banner": 1024px,
);

@function isFontFamilyExisting($fontFamily) {
  @if $fontFamily {
    @return $fontFamily;
  }
  @return $mk-box-font-family;
}

// Calculate img ratio from width
@mixin mk-box-img-size-ratio($tag, $size, $ratioNum, $ratioDen) {
  @each $name, $size in $mk-box__img-sizes {
    &__#{$tag}.--size-#{$name}.--ratio-#{$ratioNum}-#{$ratioDen} {
      height: calc($size / ($ratioNum / $ratioDen));
      width: $size;
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.mk-box {
  display: flex;
  flex-direction: $mk-blocks-flex-direction;
  font-family: isFontFamilyExisting($mk-box-font-family);
  width: 100%;
  gap: $mk-box-gap;
  &__text {
    width: 100%;
    margin: $mk-box__text-margin;
    padding: $mk-box__text-padding;
    font-family: isFontFamilyExisting($mk-box__text-font-family);
  }
  &__title {
    width: 100%;
    margin: $mk-box__title-margin;
    padding: $mk-box__title-padding;
    font-family: isFontFamilyExisting($mk-box__title-font-family);
  }
  &__subtitle {
    width: 100%;
    margin: $mk-box__subtitle-margin;
    padding: $mk-box__subtitle-padding;
    font-family: isFontFamilyExisting($mk-box__subtitle-font-family);
  }

  &__img {
    @if $mk-box__self-flex-position {
      @include mk-self-flex-position($mk-box__self-flex-position);
    }
    border-radius: $mk-box__img-border-radius;
    padding: $mk-box__img-padding;
    margin: $mk-box__img-padding;
    overflow: hidden;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  &__thumbnail {
    background-color: $mk-box__thumbnail-hover-color;
    border-radius: $mk-box__thumbnail-border-radius;
    padding: $mk-box__thumbnail-padding;
    margin: $mk-box__thumbnail-padding;
    overflow: hidden;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      opacity: 1;
      transition: all 0.2s ease-in-out;
    }
    &:hover img {
      @if $mk-box__thumbnail-hover-color {
        opacity: $mk-box__thumbnail-opacity-color;
      }

      cursor: pointer;
    }
  }

  @each $name, $size in $mk-box__img-sizes {
    .--size-#{$name} {
      height: $size;
      width: $size;
      max-width: 100%;
    }
  }
  @include mk-box-img-size-ratio("img", $mk-box__img-sizes, 1, 1);
  @include mk-box-img-size-ratio("img", $mk-box__img-sizes, 16, 9);
  @include mk-box-img-size-ratio("img", $mk-box__img-sizes, 9, 16);
  @include mk-box-img-size-ratio("img", $mk-box__img-sizes, 4, 3);
  @include mk-box-img-size-ratio("img", $mk-box__img-sizes, 3, 4);
  @include mk-box-img-size-ratio("img", $mk-box__img-sizes, 5, 3);
  @include mk-box-img-size-ratio("img", $mk-box__img-sizes, 3, 5);
  @include mk-box-img-size-ratio("thumbnail", $mk-box__img-sizes, 1, 1);
  @include mk-box-img-size-ratio("thumbnail", $mk-box__img-sizes, 16, 9);
  @include mk-box-img-size-ratio("thumbnail", $mk-box__img-sizes, 9, 16);
  @include mk-box-img-size-ratio("thumbnail", $mk-box__img-sizes, 4, 3);
  @include mk-box-img-size-ratio("thumbnail", $mk-box__img-sizes, 3, 4);
  @include mk-box-img-size-ratio("thumbnail", $mk-box__img-sizes, 5, 3);
  @include mk-box-img-size-ratio("thumbnail", $mk-box__img-sizes, 3, 5);
}
