@function isFontFamilyExisting($fontFamily) {
  @if $fontFamily {
    @return $fontFamily;
  }
  @return $mk-block-font-family;
}

// Calculate img ratio from width
@mixin mk-block-img-size-ratio($size, $ratioNum, $ratioDen) {
  @each $size in $mk-block__img-sizes {
    &__img-size-#{$size}.--ratio-#{$ratioNum}-#{$ratioDen} {
      height: calc($size / ($ratioNum / $ratioDen));
      width: $size;
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.mk-block {
  display: flex;
  flex-direction: column;
  font-family: isFontFamilyExisting($mk-block-font-family);
  width: 100%;
  &__text {
    width: 100%;
    margin: $mk-block__text-margin;
    padding: $mk-block__text-padding;
    font-family: isFontFamilyExisting($mk-block__text-font-family);
  }
  &__title {
    width: 100%;
    margin: $mk-block__title-margin;
    padding: $mk-block__title-padding;
    font-family: isFontFamilyExisting($mk-block__title-font-family);
  }
  &__subtitle {
    width: 100%;
    margin: $mk-block__subtitle-margin;
    padding: $mk-block__subtitle-padding;
    font-family: isFontFamilyExisting($mk-block__subtitle-font-family);
  }
  @each $size in $mk-block__img-sizes {
    &__img-size-#{$size} {
      height: $size;
      width: $size;
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
  @include mk-block-img-size-ratio($mk-block__img-sizes, 16, 9);
}
