@mixin mk-section() {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: auto;
}

@mixin mk-section-container(
  $margin: $mk-section-margin,
  $padding: $mk-section-padding
) {
  margin: $margin;
  padding: $padding;
}
/*****************************************
            Structures nested
*****************************************/

.mk-section {
  @include mk-section;
  @include mk-section-container($mk-section-margin, $mk-section-padding);
  &__header {
    @include mk-section-container(
      $mk-section__header-margin,
      $mk-section__header-padding
    );
  }
  &__body {
    @include mk-section-container(
      $margin: $mk-section__body-margin,
      $padding: $mk-section__body-padding
    );
  }
  &__footer {
    @include mk-section-container(
      $margin: $mk-section__footer-margin,
      $padding: $mk-section__footer-padding
    );
  }
}
