@mixin mk-section() {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}

@mixin mk-section-container(
  $margin: $mk-section-margin,
  $padding: $mk-section-padding
) {
  margin: $margin;
  padding: $padding;
}
/*****************************************
            Structures nested
*****************************************/

.mk-section {
  @include mk-section;
  &__header {
    @include mk-section-container;
  }
  &__body {
    @include mk-section-container;
  }
  &__footer {
    @include mk-section-container;
  }
}
