/************************
DEFINITION DES VARIABLES
**************************/

$bg-color-primary: #C9DEFC;
$bg-color-primary-light: #F0F3F9;
$bg-color-primary-dark: #4F6E9A;


$font-color-primary: #28456E;
// $font-color-secondary: #6e6c68;
// $font-color-thirty: #ebe1d6;
